*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
# ==========================================
# Standard Python & OS Junk
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.vscode/
.idea/
.DS_Store
*.bak
*~
~

# ==========================================
# EMP Project Specific: Heavy Data
# ==========================================
# We ignore the 2.9GB of images and the massive dataset
data/
saved_images/
presentation_images/

# ==========================================
# EMP Project Specific: Artifacts & Logs
# ==========================================
# We ignore the 561MB outputs folder and intermediate checkpoints
outputs/
checkpoints/
onnx/
submission/

# Model Weights Strategy:
# We ignore all general checkpoints, BUT we allow final_model.ckpt 
# to be pushed because it is only 24MB and essential for reproduction.
*.ckpt
!final_model.ckpt

# ==========================================
# Cluster Specific: Session Logs & Binaries
# ==========================================
train_log_*.txt
train_err_*.txt
eval_log_*.txt
eval_err_*.txt
s5cmd
s5cmd_*.tar.gz

# This catches that weird "1" file in your directory
1
